%table.orderItems
  %thead
    %tr
      %td Qty
      %td Item
      %td Price
      %td= Shoppe.config[:tax_name]
      %td Sub-Total
  %tbody
    - for item in order.order_items
      %tr
        %td.quantity
          - unless defined?(readonly)
            %span
              = link_to "+", adjust_basket_item_quantity_path(item.id), :method => :post, :class => 'ajax'
              = link_to "-", adjust_basket_item_quantity_path(item.id), :method => :delete, :class => 'ajax'
          = item.quantity
        %td.product
          = link_to item.product.title, product_path(item.product.product_category.permalink, item.product.permalink)
          - unless defined?(readonly)
            = link_to "Delete", remove_basket_item_path(item), :method => :delete, :class => 'delete ajax'
        %td.money.price= number_to_currency item.sub_total
        %td.money.tax= number_to_currency item.tax_amount
        %td.money.total= number_to_currency item.total
  %tfoot
    - if order.delivery_service
      %tr.delivery
        %td.method{:colspan => 4}
          - if defined?(readonly)
            = order.delivery_service.name
          - else
            = form_tag change_delivery_service_path do 
              = select_tag 'delivery_service', options_from_collection_for_select(order.available_delivery_services, :id, :name, order.delivery_service.id)
        %td.money= number_to_currency order.delivery_price
    %tr.subtotal
      %td{:colspan => 4} Total (excluding #{Shoppe.config[:tax_name]})
      %td.money= number_to_currency order.total_before_tax
    %tr.tax
      %td{:colspan => 4}= Shoppe.config[:tax_name]
      %td.money= number_to_currency order.tax
    %tr.total
      %td{:colspan => 4} Total
      %td.money= number_to_currency order.total
