<table class="orderItems">
  <thead>
    <tr>
      <td>Qty</td>
      <td>Item</td>
      <td>Price</td>
      <td>
        <%= Shoppe.settings.tax_name %>
      </td>
      <td>Sub-Total</td>
    </tr>
  </thead>
  <tbody>
    <% for item in order.order_items %>
      <tr>
        <td class="quantity">
          <% unless defined?(readonly) %>
            <span>
              <%= link_to "+", adjust_basket_item_quantity_path(item.id), :method => :post, :class => 'ajax' %>
              <%= link_to "-", adjust_basket_item_quantity_path(item.id), :method => :delete, :class => 'ajax' %>
            </span>
          <% end %>
          <%= item.quantity %>
        </td>
        <td class="product">
          <%= item.ordered_item.full_name %>
          <% unless defined?(readonly) %>
            <%= link_to "Delete", remove_basket_item_path(item), :method => :delete, :class => 'delete ajax' %>
          <% end %>
        </td>
        <td class="money price">
          <%= number_to_currency item.sub_total %>
        </td>
        <td class="money tax">
          <%= number_to_currency item.tax_amount %>
        </td>
        <td class="money total">
          <%= number_to_currency item.total %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <% if order.delivery_service %>
      <tr class="delivery">
        <td class="method" colspan="4">
          <% if defined?(readonly) %>
            <%= order.delivery_service.name %>
          <% else %>
            <%= form_tag change_delivery_service_path do  %>
              <%= select_tag 'delivery_service', options_from_collection_for_select(order.available_delivery_services, :id, :name, order.delivery_service.id) %>
            <% end %>
          <% end %>
        </td>
        <td class="money">
          <%= number_to_currency order.delivery_price %>
        </td>
      </tr>
    <% end %>
    <tr class="subtotal">
      <td colspan="4">Total (excluding <%=Shoppe.settings.tax_name%>)</td>
      <td class="money">
        <%= number_to_currency order.total_before_tax %>
      </td>
    </tr>
    <tr class="tax">
      <td colspan="4">
        <%= Shoppe.settings.tax_name %>
      </td>
      <td class="money">
        <%= number_to_currency order.tax %>
      </td>
    </tr>
    <tr class="total">
      <td colspan="4">Total</td>
      <td class="money">
        <%= number_to_currency order.total %>
      </td>
    </tr>
  </tfoot>
</table>
