%ul.products
  - for product in products
    %li
      .img{:style => product.default_image ? "background-image:url(#{product.default_image.path})" : ''}
      %h4= link_to product.name, product_path(product.product_category.permalink, product.permalink)
      %p.info= truncate product.short_description, :length => 90
      %p.buttons 
        = link_to "Info", product_path(product.product_category.permalink, product.permalink)
        - if product.orderable?
          = link_to "Add", buy_product_path(product.product_category.permalink, product.permalink), :class => 'add', :method => :post
      %p.price= number_to_currency product.price
      