- @page_title = 'Checkout'
= render 'checkout_sidebar'
    
.checkout
  %p.secure Secure connection
  %h2 Place your order
  %p.intro
    Fantastic! You're ready to place your order, just follow the instructions below and
    we'll get your products shipped to you as quickly as we can.

  %h3 Review the products in your shopping bag
  = render 'shared/order_items', :order => @order

  - if @order.delivery_service
    %h3 Complete your details below to complete your order
    
    = form_for @order, :url => checkout_path, :html => {:class => 'checkout disableable'} do |f|
      = f.error_messages
      .customer
        = field_set_tag do
          %dl
            %dt= f.label :first_name, "Name", :class => 'req'
            %dd.name
              = f.text_field :first_name, :placeholder => 'First Name'
              = f.text_field :last_name, :placeholder => 'Last Name'
          %dl
            %dt= f.label :company, "Company Name (optional)"
            %dd= f.text_field :company
          %dl
            %dt= f.label :email_address, 'Your E-Mail Address', :class => 'req'
            %dd= f.text_field :email_address
          %dl
            %dt= f.label :phone_number, 'Your Contact Phone Number', :class => 'req'
            %dd= f.text_field :phone_number

        = field_set_tag do
          %dl
            %dt= f.label :billing_address1, "Billing Address", :class => 'req'
            %dd= f.text_field :billing_address1, :placeholder => "Line 1"
            %dd= f.text_field :billing_address3, :placeholder => "Town/City"
            %dd= f.text_field :billing_address4, :placeholder => "County"
            %dd= f.text_field :billing_postcode, :placeholder => "Postcode", :class => 'postcode'
            %dd= f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name
            %dd
              = f.check_box :separate_delivery_address
              = f.label :separate_delivery_address, "Deliver to a different address?"
          %dl.delivery
            %dt= f.label :delivery_address1, "Delivery Address", :class => 'req'
            %dd= f.text_field :delivery_name, :placeholder => "Deliver to (name/company)"
            %dd= f.text_field :delivery_address1, :placeholder => "Line 1"
            %dd= f.text_field :delivery_address3, :placeholder => "Town/City"
            %dd= f.text_field :delivery_address4, :placeholder => "County"
            %dd= f.text_field :delivery_postcode, :placeholder => "Postcode", :class => 'postcode'
            %dd= f.collection_select :delivery_country_id, Shoppe::Country.ordered, :id, :name
            
      %p.submit= f.submit "Continue to payment"

  - else
    %p Please call us to place this order. 
    