<% @page_title = "Order Status <%=@order.number%> " %>
<div class="status">
  <div class="details">
    <div class="left">
      <dl>
        <dt>Name</dt>
        <dd>
          <%= @order.first_name + ' ' + @order.last_name %>
        </dd>
        <dt>Company</dt>
        <dd>
          <%= @order.company.blank? ? '-' : @order.company %>
        </dd>
        <dt>Delivery Address</dt>
        <dd>
          <%= @order.delivery_address1 %>
        </dd>
        <dd>
          <%= @order.delivery_address2 %>
        </dd>
        <dd>
          <%= @order.delivery_address3 %>
        </dd>
        <dd>
          <%= @order.delivery_address4 %>
        </dd>
        <dt>Postcode</dt>
        <dd>
          <%= @order.delivery_postcode %>
        </dd>
        <dd>
          <%= @order.delivery_country.try(:id) %>
        </dd>
      </dl>
    </div>
    <div class="right">
      <dl>
        <dt>Order Number</dt>
        <dd>
          <%= @order.number %>
        </dd>
        <dt>E-Mail Address</dt>
        <dd>
          <%= @order.email_address %>
        </dd>
        <dt>Telephone</dt>
        <dd>
          <%= @order.phone_number %>
        </dd>
        <dt>Weight</dt>
        <dd><%=@order.total_weight%>kg</dd>
      </dl>
    </div>
  </div>
  <div class="status-bar">
    <ul>
      <% if @order.received? %>
        <li class="received">
          <h4>Order Received</h4>
          <p>on <%=@order.received_at.to_s(:long)%></p>
        </li>
      <% end %>
      <% if @order.paid? %>
        <li class="payment">
          <h4>Payment Received</h4>
          <p>on <%=@order.paid_at.to_s(:long)%></p>
        </li>
      <% end %>
      <% if @order.accepted? %>
        <li class="accepted">
          <h4>Order Accepted</h4>
          <p>on <%=@order.accepted_at.to_s(:long)%></p>
        </li>
      <% elsif @order.rejected? %>
        <li class="rejected">
          <h4>Order rejected</h4>
          <p>on <%=@order.rejected_at.to_s(:long)%></p>
        </li>
      <% end %>
      <% if @order.shipped? %>
        <li class="shipped">
          <h4>Order Shipped</h4>
          <p>on <%=@order.shipped_at.to_s(:long)%></p>
          <% if @order.courier_tracking_url %>
            <p>
              <%= link_to "Track the delivery", @order.courier_tracking_url %>
            </p>
          <% else %>
            <p>Consignment # <b><%=@order.consignment_number%></b></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= render 'shared/order_items', :order => @order, :readonly => true %>
</div>
