<% active_nav_item :catalogue %>
<% @page_title = @product.name + " - " + @product.product_category.name %>
<div class="product">
  <% if @product.default_image %>
    <div class="img" style="background-image:url(<%= @product.default_image.path %>)"></div>
  <% end %>
  <h2>
    <%= @product.name %>
  </h2>
  <p class="intro">
    <%= @product.short_description %>
  </p>
  <% if @product.has_variants? %>
    <table class="variants">
      <% for variant in @product.variants %>
        <tr>
          <td>
            <% if variant.in_stock? %>
              <p class="stock yes">In stock</p>
            <% else %>
              <p class="stock no">Out of stock</p>
            <% end %>
            <h4>
              <%= variant.name %>
            </h4>
            <p class="price">
              <%= number_to_currency variant.price %>
            </p>
          </td>
          <td class="buy">
            <%= form_tag buy_product_path(@product.product_category.permalink, @product.permalink, :variant => variant.id), :class => (variant.in_stock? ? 'in-stock' : 'no-stock') do %>
              <p>
                <%= select_tag 'quantity', options_for_select([1,2,3,4,5,6,7,8,9]), :disabled => !variant.in_stock? %>
                <%= submit_tag 'Add to basket', :disabled => !variant.in_stock? %>
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="optionsBox">
      <div class="top">
        <p class="price">
          <%= number_to_currency @product.price %>
        </p>
        <%= form_tag buy_product_path(@product.product_category.permalink, @product.permalink), :class => (@product.in_stock? ? 'in-stock' : 'no-stock') do %>
          <p>
            <%= select_tag 'quantity', options_for_select([1,2,3,4,5,6,7,8,9]), :disabled => !@product.in_stock? %>
            <%= submit_tag 'Add to basket', :disabled => !@product.in_stock? %>
          </p>
        <% end %>
      </div>
      <div class="bottom">
        <div class="stock">
          <% if @product.in_stock? %>
            <p class="yes">In stock</p>
            <p class="time">Order in the next <b><%=time_until_next_delivery_cut_off%></b> for delivery <%=next_delivery_day%>.</p>
          <% else %>
            <p class="no">Out of stock</p>
            <p class="time">Sorry - we don't have any stock of this product at the moment. <%=link_to "Let me know when you do"%>.</p>
          <% end %>
        </div>
        <div class="links">
          <ul>
            <% if @product.data_sheet %>
              <li class="item datasheet">
                <%= link_to "Read product datasheet", @product.data_sheet.path %>
              </li>
            <% end %>
            <% unless @product.in_the_box.blank? %>
              <li class="item box">
                <%= link_to "What's in the box?" %>
                <div class="in_the_box">
                  <h3>What's in the box?</h3>
                  <%= markdown @product.in_the_box %>
                </div>
              </li>
            <% end %>
            <li class="item ask">
              <%= mail_to Shoppe.settings.email_address, "Ask us a question about this", :subject => "Question about the #{@product.name}" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr/>
  <% end %>
  <% unless @attributes.empty? %>
    <table class="attributes">
      <% for attribute in @attributes %>
        <tr>
          <th>
            <%= attribute.key %>
          </th>
          <td>
            <%= link_to attribute.value, product_filter_path(:key => attribute.key, :value => attribute.value) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <div class="description">
    <%= markdown @product.description %>
  </div>
</div>
