- active_nav_item :catalogue
- @page_title = @product.title + " - " + @product.product_category.name
.product
  - if @product.default_image
    .img{:style => "background-image:url(#{@product.default_image.path})"}
  %h2= @product.title
  %p.intro= @product.short_description
  
  .optionsBox
    .top
      %p.price= number_to_currency @product.price
      = form_tag buy_product_path(@product.product_category.permalink, @product.permalink), :class => (@product.in_stock? ? 'in-stock' : 'no-stock') do
        %p
          = select_tag 'quantity', options_for_select([1,2,3,4,5,6,7,8,9]), :disabled => !@product.in_stock?
          = submit_tag 'Add to shopping bag', :disabled => !@product.in_stock?
    .bottom
      .stock
        - if @product.in_stock?
          %p.yes In stock
          %p.time If you <b>order in the next #{time_until_next_delivery_cutoff}</b>, you'll receive your order tomorrow.
        - else
          %p.no Out of stock
          %p.time Sorry - we don't have any stock of this product at the moment. #{link_to "Let me know when you do"}.
      .links
        %ul
          - if @product.data_sheet
            %li.item.datasheet= link_to "Read product datasheet", @product.data_sheet.path
          - unless @product.in_the_box.blank?
            %li.item.box
              = link_to "What's in the box?"
              %div.in_the_box
                %h3 What's in the box?
                = markdown @product.in_the_box
          %li.item.ask= mail_to Shoppe.config[:email_address], "Ask us a question about this", :subject => "Question about the #{@product.title}"
  %hr
  .description
    = markdown @product.description
